<body>

  <div class="container p-4">
    <div>
      <div class="col-md-4 mx-auto">
        <div class="card_cliente">
          <div class="card_clienteTarguet">
            <form id="procesarenvio" action="/envioNuevo" method="POST">
              <table style="height: 50px; font-size: 1,5rem;width=2000px">
                <tbody>

                  {{#each datos}}
                  <table border="0"> 
                  <tr>
                    <td>
                       <input style="width:500px;height: 70px;font-size: 2rem; text-align: left;border: none;" name="linea1" id="linea1" type="text"></input>
                       <input name="fecha" id="fecha" type="text" value="{{fecha2}}" hidden></input>
                       <input name="id_reparto" id="id_reparto" type="text" value="{{id_reparto}}" hidden></input>
                    </td>
                   

                  </tr>
                  </table>
                  <tr>
                    <td>Cliente :
                      <input type="text" name="cliente" id="cliente" class="form-control" placeholder="Nombre"
                        style="height: 70px;font-size: 2rem; text-align: left;border: none;" hidden />
                      <input type="userid" name="userid" id="userid" value="{{id_cliente}}" required hidden></input>





                      <input style="height: 70px;font-size: 2rem; text-align: left;border: none;" type="text"
                        name="cliente_nombre" id="cliente_nombre" value="{{nombre}}"></input>


                      <input style="font-size: 2rem;width: 80px;  text-align: left;" name="id_cliente" id="id_cliente"
                        readonly hidden>
                      <input class="sinborde" style="font-size: 2rem;width: 100px;  text-align: right;"
                        name="saldo_cliente" id="saldo_cliente" value="{{saldo}}" readonly>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <pre>Pedido:</pre>
                      <pre>{{pedido}}</pre>


                    </td>
                  </tr>

                  <tr>

                    <td>
                      <pre>Nota :</pre>
                      <pre>{{nota}}</pre>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>

              <table class="oculto-impresion">
                <tr>
                  <table>
                    <tr>

                      <td class="oculto-impresion">
                        <input style="width:500px; height: 70px;  font-size: 2rem;" type="button"
                          class="btn btn-primary" onclick=imprimir() value="Imprimir"></input>
                      </td>
                    </tr>
                  </table>
                </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="overlay"></div> <!-- si sacoesto deja de andar el scrip -->

  <script type="text/javascript">
   textolinea1 = "Fecha :  " + (document.getElementById('fecha').value)+"   Pedido :    "+ (document.getElementById('id_reparto').value)
   console.log("linea 1" ,textolinea1)
   document.getElementById('linea1').value = textolinea1
  /*
    console.log("mes ", document.getElementById('fechahoy').value)
    textofecha = "Fecha :" + new Date(document.getElementById('fechahoy').value).getDate() + "/" + (new Date(document.getElementById('fechahoy').value).getMonth() + 1) + "/" + new Date(document.getElementById('fechahoy').value).getFullYear() + " "
    console.log("fecha rexto ", textofecha)
    document.getElementById('fechahoy').value = textofecha
*/
    var fruta = 'hola';
    var comentarios = '<p>Cargado por {{user.fullname}} el dia ' + fecha_actual() + '</p>';

    var html = "";
    html += `<div class="direct-chat-messages">${comentarios}</div>`;
    $("#form-encabezado").html(html);

    function set_comentario_ajax(valor) {
      console.log(valor);
    }
    console.log("alta envio");
    $("#pedido").replaceWith('<textarea id="pedido" name="pedido"></textarea>');


    function myFunction(e) {
      console.log("entro aca")
      // document.getElementById("saldo").value = e.options[e.selectedIndex].getAttribute("data-saldo");
      document.getElementById("id_cliente").value = e.options[e.selectedIndex].getAttribute("value");
      document.getElementById("cliente").value = e.options[e.selectedIndex].getAttribute("title");
      document.getElementById("saldo_cliente").value = e.options[e.selectedIndex].getAttribute("data-saldo");
      console.log("saldo =", e.options[e.selectedIndex].getAttribute("data-saldo"))
      let ctacte = e.options[e.selectedIndex].getAttribute("ctacte")
      console.log("ctacte =", ctacte)

    }

    function check(e) {
      tecla = (document.all) ? e.keyCode : e.which;

      //Tecla de retroceso para borrar, siempre la permite
      if (tecla == 8) {
        document.getElementById("saldonuevo").value = document.getElementById("monto").value.trim();
        return true;
      }

      // Patron de entrada, en este caso solo acepta numeros y letras
      patron = /[0-9.]/;
      tecla_final = String.fromCharCode(tecla);

      return patron.test(tecla_final);
    }

    function grabar() {
      console.log("boton Grabar");

      if (document.getElementById("cliente").value == "") {
        document.getElementById("cliente").focus();
        console.log("cliente vacio");
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'cargue un cliente',
          showConfirmButton: false,
          timer: 1000
        }).then(function () {

        })
      }
      if (document.getElementById("pedido").value == "") {
        document.getElementById("pedido").focus();
        console.log("pedido vacio");
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'cargue un pedido',
          showConfirmButton: false,
          timer: 1000
        }).then(function () {

        })

        return false;
      }

      else {
        document.getElementById("procesarenvio").submit();
      }
    }


    function boton_cancelar() {
      console.log("boton cancelar");
      Swal.fire({
        title: 'Estas Seguro?',
        text: "Deseas cancelar la edicion!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si Cancelas, volves sin grabar!'
      }).then((result) => {
        if (result.isConfirmed) {
          window.location = "/envios"
          //document.getElementById("volver").submit();
        }
      })
    }


    function fecha_actual() {
      fecha = new Date(); //Actualizar fecha.
      diamenos7 = fecha.getTime(); //dia actual
      diamenossiete = new Date(diamenos7);
      console.log("dia menos7->", diamenossiete)
      dia = diamenossiete.getDate(); //dia actual
      console.log("dia menos 7 _>", dia)
      mes = diamenossiete.getMonth() + 1; // mes actual
      año = diamenossiete.getYear() - 100; // año actual
      hora = fecha.getHours(); //hora actual
      minuto = fecha.getMinutes(); //minuto actual
      segundo = fecha.getSeconds(); //segundo actual
      if (dia < 10) { //dos cifras para la hora
        dia = "0" + dia;
      }
      console.log("mes menos7", mes)
      if (mes < 10) { //dos cifras para la hora
        mes = "0" + mes;
      }
      if (hora < 10) { //dos cifras para la hora
        hora = "0" + hora;
      }
      if (minuto < 10) { //dos cifras para el minuto
        minuto = "0" + minuto;
      }
      if (segundo < 10) { //dos cifras para el segundo
        segundo = "0" + segundo;
      }
      //devolver los datos:
      //console.log("hola")
      console.log("dia, mes, año", dia, mes, año);

      fecha2 = dia + "-" + mes + "-" + "20" + año;
      //console.log(mireloj)
      return fecha2;
    }

    function fecha_actual2() {
      fecha = new Date(); //Actualizar fecha.
      diamenos7 = fecha.getTime(); //dia actual
      diamenossiete = new Date(diamenos7);
      console.log("dia menos7->", diamenossiete)
      dia = diamenossiete.getDate(); //dia actual
      console.log("dia menos 7 _>", dia)
      mes = diamenossiete.getMonth() + 1; // mes actual
      año = diamenossiete.getYear() - 100; // año actual
      hora = fecha.getHours(); //hora actual
      minuto = fecha.getMinutes(); //minuto actual
      segundo = fecha.getSeconds(); //segundo actual
      if (dia < 10) { //dos cifras para la hora
        dia = "0" + dia;
      }
      console.log("mes menos7", mes)
      if (mes < 10) { //dos cifras para la hora
        mes = "0" + mes;
      }
      if (hora < 10) { //dos cifras para la hora
        hora = "0" + hora;
      }
      if (minuto < 10) { //dos cifras para el minuto
        minuto = "0" + minuto;
      }
      if (segundo < 10) { //dos cifras para el segundo
        segundo = "0" + segundo;
      }
      //devolver los datos:
      //console.log("hola")
      console.log("dia, mes, año", dia, mes, año);

      fecha2 = "20" + año + "-" + mes + "-" + dia;
      console.log("fecha2", fecha2)
      return fecha2;
    }

    function imprimir() {
      window.print();
    }
  </script>
</body>
<footer class="oculto-impresion"></footer>